body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}
 
.central-div {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
h1 {
    font-size: 24px;
    background: linear-gradient(to right, #d30b62, #23b9f9);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    margin: 0;
}
 